body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.button-move {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 3px solid white;
    background-color: transparent;
    margin-right: 10px;
    cursor: pointer;
}

.move-icon {
    height: 50px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.reset-button {
    border: none;
    background-color: white;
    color: black;
    padding: 18px 15px;
    border-radius: 5px;
}

.result-style {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.score {
    margin-top: 25px;
}

.chosen-style {
    font-weight: bold;
}